.student-form {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 100vh;
}

.student-form .student-form-img {
    background: url(../img/student-forms.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.student-form .student-form-form {
    background: url(../img/Group\ 100.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.student-form-form form {
    height: 100%;
    width: 100%;
    background-color: #f4f8f8;
    padding: 3rem 2rem;
    opacity: .8;
}

.student-form-form form h3 {
    font-weight: bolder;
    margin-bottom: 2rem;
}

.student-form-form form .nav .nav-item .nav-link {
    color: #979b9e;
    font-weight: 400;
}

.student-form-form form .nav .nav-item .nav-link.active {
    background-color: transparent;
    color: #1ba7e6;
    font-weight: bold;
}

.student-form-form form .tab-content {
    border-top: 2px solid #979b9e;
}

.student-form-form form h3.category-name {
    margin: 1rem 0;
    font-size: 16px;
}

.student-form-form form .form-wrap .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.student-form-form form .form-wrap .form-item label {
    font-weight: 600;
    margin-bottom: .2rem;
}

.student-form-form form .form-wrap .form-item .input-field {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e1e7eb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

.student-form-form form .form-wrap .form-item .input-field:focus {
    transition: none;
    outline: none;
}

.form-next-button {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    width: 100%;
    margin: 1rem auto;
    background-color: #009FE3;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #e1e7eb;
}

.remember-login {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 850px) {
    .student-form {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 100%;
        min-height: 100vh;
    }
    .student-form .student-form-img {
        display: none;
    }
    .bottom-teacher-connect {
        width: 100%;
        margin: 0 auto 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
    }
    .enroll-teacher-container {
        left: 0%;
        width: 100%;
        padding: 3rem;
    }
    .move-image-left img {
        display: none;
    }
    .enroll-teacher-content-info {
        position: absolute;
        left: 0%;
        padding-left: 1rem;
        padding-top: 1rem;
        width: 80vw;
    }
    .enroll-teacher-item:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        width: 90%;
        margin: 0 auto;
    }
}